/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* External styling from: https://codepen.io/manikoth/pen/NNNBYe.css
 */
/* Doodle Stage */
#stage {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  height: 300px;
  width: 600px;
  background: orange;
}

